{% extends "header.html" %}
{% block body %} 


<h3>Display chemical structure based on ChemSpider ID#</h3>
<div id="cborder">
<form id="form-dplystruc" method='post' action='{{url_for('dplystruc',svg = svg )}}' enctype ='multipart/form-data'>
<p><br><strong>ChemSpider ID:</strong>{{csid|safe}}</p>
   <input type='text' name='csid' placeholder="Enter CSID #" required>
   <input class="submit-button" type ='submit'>
</form>
<p id="nfo"></p>
<div class="svg-with-text"><span> {{svg|safe}} </span>
<p><font size="5">{{cname}}</font></p>
   <script>
   $( "form" ).submit(function( event ) {
     if ( $( "input:first" ).val().toString().length >= 3 ||typeof($("input:first").val()) ==='number' ) {
       $( "p#nfo" ).text( "Validated..." ).show();
       return;
     }
    
     $( "p#nfo" ).text( "Not valid!" ).show().fadeOut( 1000 );
     event.preventDefault();
   });
   </script>
</div>
</div>
{% endblock %}
