{% extends 'header.html' %}
{% block body %}


<div class="panel panel-default">
	<div class="panel-heading"><h4>Enter SMARTS string to query the database</h4></div>
		<div class="panel-body">

			<form id="form-subsrch">  
			<div id="smrtsrch_input_padding">
				<label for="smrtsrch_input"><strong id="label_smrtstr"></strong></label>
			</div>
			<div id="smrtsrch_input_padding">
				<input type="text" class="form-control" id="smrtsrch_input" placeholder="[OH]c1ccccc1" required>
			</div>
			<div id="smrtsrch_input_padding">
			<input class="submit-button" type="submit">
			</div>
			</form>


			<div class="panel panel-default" id="containTable">
				<div class="panel-heading" id="tablePanelHead"><h4 id="found-results"></h4></div>
					<div class="panel-body">
						<div id="table-results"></div>
				</div>
		</div>
	</div>
</div>

{% endblock %}
