{% extends 'header.html' %}
{% block body %}
{% set lengthLst = svgoutput|length  %}
<h3>Enter SMARTS string to query the database</h3>
<form id='form-subsrch' method='post' action="{{ url_for('smrtsrch') }}" enctype='multipart/form-data'>
   <p>
   <br>
      <strong>SMARTS string: </strong>{{query}}
   </p>
   <!--input type='text' name='smrtsrch' placeholder='c:c:c:c:c:c=c' requiredi-->
   <textarea id='form-text' name="smrtsrch" cols="50" rows="5" required>cccccc=c</textarea> 
   <input id='form-text' class="submit-button" type ='submit'>
   <div id="lock-modal"></div>
   <div id="loading-circle"></div>
   
<div id="table-results">
   <h3 class="found-result"> Found {{lengthLst}} matches! </h3>
   <table class="subsrchRes"> 
      {% if lengthLst <= 5 %}
         <tr>
               {% for i in range(lengthLst) %}
                  <td class='svg-with-text'><img src="data:image/svg+xml,{{svgoutput[i][1]}}"></td>
               {% endfor %}
         </tr> 
         <tr>      
               {% for i in range(lengthLst) %}   
                  <td class='svg-with-text'><span>(<strong>{{i}}</strong>) | {{svgoutput[i][0]}}</span></td>
               {% endfor %}
         </tr>

      {% else %}
         
         {% if lengthLst % 5 != 0 %}
            {% set insertLast = True %}  
         {% endif %} 
         
         {% set tbloop = (lengthLst/5)|round(0,'floor')|int %}
         {% for j in range(1,(tbloop+1)) %}
            {% set count = (5*j) %}
            <tr>
                  {% for i in range((count-5)+1,count+1) %}
                     <td class='svg-with-text'><img src="data:image/svg+xml,{{svgoutput[i-1][1]}}"></td>
                  {% endfor %}
            </tr> 
            <tr>      
                  {% for i in range((count-5)+1,count+1) %}   
                     <td class='svg-with-text'><span>(<strong>{{i}}</strong>) | {{svgoutput[i-1][0]}}</span></td>
                  {% endfor %}
            </tr>
         {% endfor %}
      {% endif %}
      {% if insertLast %}
         {% set remainder = (lengthLst - (tbloop*5))|int %} {# the total amt of elements minus the amt already processed #}
         
            <tr>
            {% for i in (range(1,remainder+1))|reverse %} 
                     <td class='svg-with-text'><img src="data:image/svg+xml,{{svgoutput[(lengthLst-i)][1]}}"></td>
            {% endfor %}
            </tr>
            <tr>
            {% for i in (range(1,remainder+1))|reverse %} 
                     <td class='svg-with-text'><span>(<strong>{{lengthLst+1-i}}</strong>) | {{svgoutput[(lengthLst-i)][0]}}</span></td>
            {% endfor %}
            </tr>
      {% endif %}
   </table>
</div>

</form>



{% endblock %}
