<!DOCTYPE html>
<html lang="en">
<head>
  <title>FLASK Test App CHEMITRY</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
  <script src="/static/jscripts.js"></script>
</head>

<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
                <div class="navbar-left logo">
                <img style="max-width:55px" src="{{ url_for('static', filename='images/moleculeLogo.png') }}">
                </div>
                    <a class="navbar-brand" href="/dplystruc/">ChemITry : <span style="letter-spacing:4px;font-size:40px;">try Chemistry & IT</span></a>
    <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li class="greet">Greetings {{session.username}}</li>
        <li><a href="/send-mail/"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
        <li><a href="/blog/"><span class="glyphicon glyphicon-pencil"></span>Blog</a></li>
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
        </div>
    </nav>

</header>
{% from "macros_navbar.html" import nav_link with context %}
<ul class="nav nav-tabs" id="navtabs" role="tablist">
   {{ nav_link('dplystruc', 'ChemSpiderID Search') }}
   {{ nav_link('smrtsrch', 'Substructure Search') }}
   {{ nav_link('datatable', 'Compound Database') }}  
   {{ nav_link('jinjaman', 'ChemSpider WebScrape') }}
</ul>

<body>
    <div class="border-row" style="width:100%; margin-bottom:15px;"></div>
    <div class="container-fluid" style="min-height:100% width:95%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                 <div class="alert alert-warning alert-dismissible" role="alert">
                     <button type ="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden='true'>x
                         </span>
                     </button>
                     {{message}}
                 </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% block body %}{% endblock %}
   
    </div>
</body>

</html>
