{% set lengthLst = svgoutput|length  %}

   <table class="subsrchRes"> 
      {% if lengthLst <= 5 %}
	 <tr>
	       {% for i in range(lengthLst) %}
		  <td class='svg-ctr'>{{svgoutput[i][1]|safe}}</td>
	       {% endfor %}
	 </tr> 
	 <tr>      
	       {% for i in range(lengthLst) %}   
	       <td class='txt-ctr'><div class='txt-ctr'>(<strong>{{i+1}}</strong>) |</div><div class='txt-ctr'> {{svgoutput[i][0]}}</div></td>
	       {% endfor %}
	 </tr>

      {% else %}
	 
	 {% if lengthLst % 5 != 0 %}
	    {% set insertLast = True %}  
	 {% endif %} 
	 
	 {% set tbloop = (lengthLst/5)|round(0,'floor')|int %}
	 {% for j in range(1,(tbloop+1)) %}
	    {% set count = (5*j) %}
	    <tr>
		  {% for i in range((count-5)+1,count+1) %}
		     <td class='svg-ctr'>{{svgoutput[i-1][1]|safe}}</td>
		  {% endfor %}
	    </tr> 
	    <tr>      
		  {% for i in range((count-5)+1,count+1) %}   
		  <td class='txt-ctr'><div class='txt-ctr'>(<strong>{{i}}</strong>) |</div><div class='txt-ctr'> {{svgoutput[i-1][0]}}</div></td>
		  {% endfor %}
	    </tr>
	 {% endfor %}
      {% endif %}
      {% if insertLast %}
	 {% set remainder = (lengthLst - (tbloop*5))|int %} {# the total amt of elements minus the amt already processed #}
	 	<input type='hidden' id='hiddenValue' value='true'>
	    <tr>
	    {% for i in (range(1,remainder+1))|reverse %} 
		     <td class='svg-ctr'>{{svgoutput[(lengthLst-i)][1]|safe}}</td>
	    {% endfor %}
	    </tr>
	    <tr>
	    {% for i in (range(1,remainder+1))|reverse %} 
	    <td class='txt-ctr'><div class='txt-ctr'>(<strong>{{lengthLst+1-i}}</strong>) |</div><div class='txt-ctr'>{{svgoutput[(lengthLst-i)][0]}}</div></td>
	    {% endfor %}
	    </tr>
      {% endif %}
		   </table>

<!-- The Modal -->
<div id="svgmodal" class="modal">

  <!-- The Close Button -->
  <span class="close" id="xclose">&times;</span>

  <!-- Modal Content (The SVG image) -->
  <div class="modal-content" id="svgimg"></div>

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

	<script>
		
$().ready(function() {
	//let elementsArray = document.querySelectorAll("#topsvg");
	//var tableBody = document.querySelectorAll('tbody');
	//console.log(tableBody);
     	let elementsArray = document.querySelectorAll("#topsvg");
	//console.log(elementsArray);
	elementsArray.forEach(function(elem) {
	    elem.addEventListener("click", function(){
		    var title = elem.getElementsByTagName('title')[0].innerHTML.replace(' - Open Babel Depiction','');
		    var clone = elem.cloneNode(true);
		    clone.setAttribute('width','550px');
		    clone.setAttribute('height','550px');
		    //console.log('width: ' + clone.getAttribute('width'));
		    //console.log('height: ' + clone.getAttribute('height'));
		$('#svgmodal').css("display","block");
		$('#svgimg').html(clone); 
		$('#caption').text(title);
	  return false;
	 });
		$('#xclose').click(function () {
		$('#svgmodal').css("display","none");
	    });
    });
});
	</script>
